<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configuration>
		<system.diagnostics>
			<sources>
				<source name="System.Windows.RoutedEvent"
						switchName="RoutedEventSwitch">
					<listeners>
						<add name="RoutedEventListener" />
					</listeners>
				</source>
			</sources>
			<switches>
				<add name="RoutedEventSwitch" value="Verbose"/>
			</switches>
			<sharedListeners>
				<add name="RoutedEventListener"
					 type="System.Diagnostics.ConsoleTraceListener">
					<filter type="System.Diagnostics.EventTypeFilter"
							initializeData="Verbose"/>
				</add>
			</sharedListeners>
		</system.diagnostics>
	</configuration>

	<!--<system.diagnostics>
		<sources>
			<source name="System.Windows.RoutedEvent" switchName="SourceSwitch">
				<listeners>
					<add name="debugOutput"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="All"/>
		</switches>
		<sharedListeners>
			<add name="debugOutput" type="System.Diagnostics.DefaultTraceListener">
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
			</add>
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>-->
</configuration>